.box {
  width: 400px;
  border: 2px solid black;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 10px 24px;
}
p {
  width: 90%;
  background-color: green;
  color: white;
  margin: 10px;
  padding: 5px;
  border: 2px solid black;
  border-radius: 10px;
}
