.container {
  background-color: red;
  height: 80px;
  width: 80px;
}
.form {
  border: 2px solid black;
  width: 300px;
  height: 300px;
  padding-left: 20px;
  padding-top: 20px;
  border-radius: 10px;
  color: rgb(173, 178, 191);
  background-color: rgb(57, 62, 75);
}
.text {
  width: 90%;
  border-radius: 15px;
  border: 0.5px solid rgb(94, 89, 89);
  background-color: rgb(67, 72, 84);
}
.height {
  height: 35px;
  font-size: medium;
  color: white;
}
#message {
  height: 65px;
  font-size: large;
  color: white;
}
